.activities-container {
  padding: 75px 25px;

  h1 {
    text-align: center;
    color: #262B40;
  }
}
.activity-filters {
  margin-top: 87px;

  #location {
    width: 100%;
  }

  .filter-button {
    border: none;
    border-radius: 8px;
    padding: 8px 8px;
    color: white;
    background-color:rgb(116, 117, 133);
  }
}

.prev-activity-cards {
  margin-top: 87px;
}

.new_btn {
border: none;
border-radius: 8px;
padding: 8px 8px;
background-color: #747585;
color: white!important;
margin-right: 20px;
width: 100px;
}
