.activities-container {
  padding: 75px 25px;

  h1 {
    text-align: center;
    color: white;
    font-weight: lighter;
  }
}
.activity-filters {
  margin-top: 133px;

  #location {
    width: 100%;
  }

  .filter-button {
    border: none;
    border-radius: 8px;
    padding: 8px 8px;
    color: white;
    background-color:rgb(116, 117, 133);
  }
}
