.tab-move {
  padding-top: 84px;
   .title{
    margin-top: 20px;
    text-align: center;
   }
}
.big_container{
  display: flex;
  width: 148px;
  justify-content: space-between;
  & > div {
    display: flex;
    flex-direction: column;
  }
}
.cardinfos {
  padding: 12px;
  display: grid;
  place-content: center center;
}

