
.tab-move {
  padding-top: 84px;
   .title {
    text-align: center;
    color: #262B40;
}
   }


.dashboard-container {
  padding: 1rem;
  padding-bottom: 76px;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.big_container{
  padding-top: 10px;
  padding-left: 40px;
  display: flex;
  width: 148px;
  justify-content: space-between;
  & > div {
    display: flex;
    flex-direction: column;
  }
}
.cardinfos {
  padding: 12px;
  display: grid;
  // place-content: center center;
}
.dash{
  margin-top: 61px;
  color: #262B40;
}
.icon {
  color: #262B40;
}
.arrow_up{
color: #5C6899;
}
.arrow_down{
  color: #363D59;
}
.steady {
  color: #6773A2;
}
#myTab {
  justify-content: space-between;
}
.nav-link {
  color: white ;
  padding: 5% ;
  border: 1px solid #6572A4 !important ;
  border-radius: 14px !important ;
  background-color: #6572A4 ;
  text-decoration: none ;
  min-width: 110px;
}
.sides {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}


.card-dashboard-page {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid white;
  border-radius: 20px 60px 20px 60px;
  margin: 15px;

  i {
    font-size: 10px;
  }

  p {
    font-size: 10px
  }
}
