.mediums-container {
  padding: 25px 25px;
  padding-bottom: 130px;
  h1 {
    text-align: center;
    color: #262B40;
    padding-top: 70px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
  }
}

.mediums-info {
  margin-top: 150px;
}
