.mood-selector {
  padding: 75px 75px;
  h2 {
    text-align: center;
    color: white;
    font-weight: lighter;
  }
  
  h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
  }
}

.new_mood {
  margin-top: 100px;

  input[type=range] {
    color: rgb(51, 51, 51);
  }
}

.action-group {
  display: flex;
  justify-content: space-between;
}

.action-button {
  margin: 0px;
  padding: 8px 24px;
  border-radius: 50px;
  box-shadow: none;
  border: none;
  color: white;
  background-color: rgb(116, 117, 133);
}

.mood-img {
  position: absolute;
  top: -120px;
  width: 100vw;
  height: 438px;
  background-size: cover;
  background-position: bottom;
  mask-image: url(https://res.cloudinary.com/claidy/image/upload/v1598883588/Vector_1_sizoot.svg);
  mask-mode: alpha;
}