.ratings-container {
  padding: 0 25px 125px 25px;
  margin-top: -71px;
}

.rating-mood-selector {
  padding: 0 50px;
}

.rating-prompt {
  text-align: center;
}
.msg {
  text-shadow: 0px 1px 14px black;
}

.star {
  display: inline-block;
  font-size: 25px;
  color: #ffbf00;
  padding-left: 5px;
  padding-right: 5px;
}

.comment-box {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
