.ratings-container {
  padding: 0 25px 125px 25px;
  margin-top: -71px;
}

.rating-mood-selector {
  padding: 0 50px;

}

.rating-prompt {
  text-align: center;
}
.msg {
  text-shadow: 0px 1px 14px black;
}
