.curved_background {
  mask-image: url(https://res.cloudinary.com/claidy/image/upload/v1598883588/Vector_1_sizoot.svg);
  mask-mode: alpha;
  height:438px;
   h1, p{
    text-shadow: 0px 1px 14px rgba(0,0,0,1.0);
   }
}
// background-size: 414px 438px
.sign-in-front {
  border: none;
}
