.sign-up-top {
  top: -80px;
}

.sign-up-bottom {
  bottom: -120px;
}

.signup-form-container {
  padding: 3em;
  h2 {
    text-align: center;
  }
}

.devise-links {
  text-align: center;
}

#new_user {
  padding-top: 3em;
}

@media (min-width: 600px) {
  .sign-up {
    margin-top: -48px;
  }
}
