<div class="info_header curved_background" style="background-image: url(<%= @activity.photo_url %>); background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h2 class="msg">How are you feeling after <%= @activity.name %>?</h2>
</div>

<div class="ratings-container">
  <%= render 'new_rating_form' %>
</div>
