.card-mw {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   display: flex;
  border: 1px solid white;
  border-radius: 20px 60px 20px 60px;
  margin: 15px;
}
.prev-act {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.prev-med {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.prev-action {
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.card-mw p {
  color: black;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
}
.cardinfos {
  padding: 16px;
  p {
  color: #262B40;
}
h2 {
  color: #262B40;
  text-align: center;
}
}

.prev-action-med {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
