// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

h4 {
  color: #262B40;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}
.mood-wizard-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
