<h1>All Activities</h1>

<form action="/activities" method="get">
  <input id="location" type="text" name="location" placeholder="Location">
  <label for="start-time">Start</label>
  <input id="start-time" type="time" name="start-time">
  <label for="end-time">End</label>
  <input id="end-time" type="time" name="end-time">
  <button type="submit">Submit</button>
</form>

<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= link_to activity.name, activity_path(activity) %>
      <%= "- #{@distances[activity.id]} km" if @distances.present? %>
    </li>
  <% end %>
</ul>
